.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list{
    flex: 10;
}

.n-list > ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    cursor: pointer;
}

.n-list li{
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: color 0.8s;
}

.n-list li:hover{
    color: var(--verdigris);
}

.n-list li::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--verdigris);
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.35s;
}

.n-list li:hover::before{
    scale: 1;
}


.n-button{
    flex: 2;
}

@media screen and (max-width: 768px) {
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
}