.toggle{
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--verdigris);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle > *{
    width: 1rem;
    height: 1rem;
    color: var(--verdigris);
}

.t-button{
    border-radius: 100%;
    background: var(--verdigris);
    position: absolute;
}